<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nSP_Suite" parallel="classes" thread-count="1">

	<listeners>

		<listener class-name="nSP.listeners.CustomListeners" />
	<listener class-name="nSP.errorcollectors.TestListenerAdapter" />
	
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />

	</listeners>


	<test thread-count="1" name="nSP_Test">
		<classes>
			
			<class name="nSP.testcases.BookReturnTicketDeeplink" />
			
			<class name="nSP.testcases.BookOneWayTicket" />
			
			<class name="nSP.testcases.TestCase_UpdatePassengerDetails" />
			
			<class name="nSP.testcases.TestCase_PurchaseExcessBaggage" />
			
			<class name="nSP.testcases.TestCase_EmailTripSummary" />
			
			<class name="nSP.testcases.TestCase_SelectMeal" />
			
			<class name="nSP.testcases.SignInTest" />
			
			
			
			<class name="nSP.testcases.BookReturnTicketDeeplink" />
		
			

		</classes>
	</test> <!-- Test -->



</suite> <!-- Suite -->
